*{
    margin: 0px;
    padding: 0px;
}




#container{
    background-color: black;
    height: 70px;
    width: 100vw;
    border: 1px solid black;
    position: fixed;
    top: 0px;
    z-index: 10;
}

#container > img{
    height: 70px;
    width: 5vw;
    background-color: black;
}

#image-container{
    position: relative;
}

#image-container > img{
    display:block;
    width: 100vw;
}

#image-container > h1{
    position: absolute;
    color: aqua;
}

#features{
    display: inline-block;
    position: absolute;
    right: 100px;
    top: 10px;
    
}

#features > a{
    color: white;
    font-size: 25px;
    text-decoration: none;
    padding: 10px;

}