h2{
    background: linear-gradient(45deg,yellow,blue,black,lightblue);
    background-size: cover;
}

h2:hover{
    background-image: url("messi-jersey.jpg"); 
}

h2:active{
    background-image: url("groot.webp");
}

h2:focus{
    background-image: url();
}

input{
    background: linear-gradient(45deg,yellow,blue,black,lightblue);
}

input:focus{
    background-image: url("rocket\ racoon.jpg");
}

#box{
    width: 200px;
    height: 200px;
    border: 2px solid black;
}

#box:hover{
    /* transform: rotate(90deg); */
    /* transform: rotate(5turn); */
    border-radius: 50%;
    /* transform: scale(1.5); */
    transform: translateX(500px);
    transition-duration: 4s;
    /* transition-delay: 1s; */
    transition-timing-function: cubic-bezier(0.34, 0.08, 0.55,0.95);
}

#box2{
    height:100px;
    width: 100px;
    border: 2px solid black;
    animation-name: move;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.34, 0.08, 0.55,0.95);
    animation-iteration-count: infinite;
    animation-direction: alternate;

    /* position after animation stops */
    animation-fill-mode:backwards ;

}

/* @keyframes move{
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(500px);
    }
} */

@keyframes move{
    0%{
        transform: translateX(0px);
    }
    25%{
        transform: translateX(500px);
    }
    50%{
        transform: translateY(500px) translateX(500px) rotate(360deg);
    }
    75%{
        transform: translateX(0px) translateY(500px);
    }
    100%{
        transform: translateY(0px) rotate(0deg);
    }
}