h1{
    background-color: skyblue;
    height: 100px;
    width: 100px;
    border: dashed 5px;
    border-style: solid 4px;
    border-top: dashed 4px red;
    border-radius: 50%;
}

div{
    width: 60vw;
    height: 60vh;
    background-color: lightblue;
    border: solid 4px;
    border-color: black;
}

p{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    background-color: violet;
    padding: 100px;
}
